[include]
  # For username / creds / etc
  path = ~/.gitconfig.private

[user]
  name = Niklas Hambüchen
  email = mail@nh2.me
[color]
  ui = auto
  interactive = auto
[diff]
  tool = meld
[difftool "meld"]
  path = /home/niklas/src/meld/git/bin/meld
[merge]
  tool = meld
[mergetool "meld"]
  path = /home/niklas/src/meld/git/bin/meld
  trustExitCode = false
[alias]
  st = status
  ci = commit
  co = checkout
  goodpull = pull --rebase
  staged = diff --cached
  unstaged = diff
  both = diff HEAD
  oneline = log --pretty=oneline
  amend = commit --amend
  d = diff
  p = add -p
  sp = stash --patch
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  meld = !$HOME/src/git-meld/git-meld.pl
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri = rebase --interactive --autosquash
  ris = rebase --interactive --autosquash --autostash

  # Usage: git signoff-rebase [base-commit]
  # Usage: git signoff-rebase [base-commit]
  signoff-rebase = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend --signoff --no-edit && git rebase --continue; done' -"
  # Ideally we would use GIT_SEQUENCE_EDITOR in the above instead of EDITOR but that's not supported for git < 1.7.8.

  addnw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
[branch]
  autosetuprebase = always
[core]
  excludesfile = /home/niklas/.gitignore_global
[rerere]
  enabled = true
[gui]
	editor = /home/niklas/bin/sublime_text_3
[cola]
	tabwidth = 4
